@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  appearance: none;
}

::-webkit-scrollbar-thumb {
  /* background: #888; */
  border-radius: 5px;
  @apply bg-secondary/50;
}
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  @apply bg-secondary;
}

::-webkit-scrollbar-corner {
  /* background: rgba(0, 0, 0, 0.5); */
  @apply bg-secondary/65 rounded-full;
}

@layer base {
  root {
    --color-primary: 99 95 199;
    --color-secondary: 130 143 163;
    --color-accent: 255 255 255;
    --color-neutral: 32 33 44;
    --color-base-100: 43 44 55;
  }

  @media (prefers-color-scheme: dark) {
    /* Dark mode styles here */
    :root {
      --color-primary: 99 95 199;
      --color-secondary: 130 143 163;
      --color-accent: 255 255 255;
      --color-neutral: 32 33 44;
      --color-base-100: 43 44 55;
    }
  }

  @media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
    /* Light mode styles here */
    :root {
      --color-primary: 99 95 199;
      --color-secondary: 130 143 163;
      --color-accent: 0 0 0;
      --color-neutral: 244 247 253;
      --color-base-100: 255 255 255;
    }
  }

  [data-theme="dark"] {
    --color-primary: 99 95 199;
    --color-secondary: 130 143 163;
    --color-accent: 255 255 255;
    --color-neutral: 32 33 44;
    --color-base-100: 43 44 55;
  }

  [data-theme="light"] {
    --color-primary: 99 95 199;
    --color-secondary: 130 143 163;
    --color-accent: 0 0 0;
    --color-neutral: 244 247 253;
    --color-base-100: 255 255 255;
  }
}
